
h1 {
    color : white; 
    background-color: blue;
    font-family:verdana;
    text-align:center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding : 10px ; 

}

.img_veggies {
    width : 250px; 
    border-style: double;
    border-width:thick;

}

.veggiesList{
    display : inline-block;   
    text-align: center;
}

.veggiesList li {
    list-style:none;
}

#green {
    background-color: lightgreen;
}

#red {
    background-color: red;
}

#orange { 
    background-color: orange;
}

#yellow { 
    background-color: yellow;
}

#navbar {
    list-style : none ; 
    display: inline-block; 
}

#navbar li {
    display : inline-block; 
    border: 1px solid black ;
    background-color: lightskyblue;
    padding : 10px; 
}