/* Navigation bar */

#navbar {
    list-style : none ; 
    display: inline-block; 
}

#navbar li {
    display : inline-block; 
    border: 1px solid black ;
    background-color: lightskyblue;
    padding : 10px; 
}

/* Headers */

h1 {
    color : white; 
    background-color: blue;
    font-family:verdana;
    text-align:center;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding : 10px ; 

}

h2 {
    text-align: center;
}

/* Flex Container */ 

.flexContainer{
    display : flex; 
    flex-direction: row;
    flex-wrap : wrap; 
    justify-content: space-around;
}

/* Grid Container */ 

.gridContainer{
    display: grid;
   /* grid-template-columns: auto auto; */ 
    justify-content: space-between;
}

/* Images */ 

.img_veggies {
    width : 250px; 
    border-style: double;
    border-width:thick;

}

/* General properties of the veggies list */ 

.veggiesList{
    /*display : inline-block; /* Deze verwijderen voor flexboxes */   
    padding : 10px; 
    text-align: center;  
}

.veggiesList li {
    list-style:none;
}

/* More specific properties of each veggies list */
#green {
    background-color: lightgreen;
    grid-column : 1 / 3;

}

#red {
    background-color: red;
    grid-column : 2 ;
}

#orange { 
    background-color: orange;
    grid-column : 1 ;
}

#yellow { 
    background-color: yellow;
    grid-column : 1/3  ;
}

button{
    display : block;
    margin : auto; 
    padding : 10px; 
    margin-bottom: 10px;
}
